{% extends "template.html" %}

{% block title %} Meal Finder {% endblock %}

{% block navbar %} Meal Finder {% endblock %}

{% block header %} Meal Finder {% endblock %}

{% block body %}
<div class="text-center">
<p class="text-center">Enter the <b>Name</b> or <b>Starting Letter</b> of any meal to find information.<p>
<form action="/MealHome/" method="post">
{% csrf_token %}
<p>{{ form }}</p>
<input type="submit" value="Search">
</form>


<br></br>

<h3>Previously Searched Meals:</h3><br>
</div>

<div class="overflow-auto"> 
<table class="table table-bordered">
<tr>
{% for x in meals %}
	<td style = "padding-right:20px;"> {{x.MealName}} </td>
{% endfor %}
</tr>
</table>
</div>


{% endblock %}